<div class="contact-wrapper">
    <div id="contact" class="container section" ng-controller="PersonalInfoCtrl">
        <h2>Contact</h2>
        <h3>I can fly</h3>
            
        <div class="row">
            <div class="span6">
                <div class="contact-info">
                    <h4>How to reach a ninja&hellip;</h4>
                    
                    <p>
                        I am currently unavailable for freelance work, but I am more than happy to provide a helping hand, consultation, or just a beeming smile.
                    </p>
                    <p>
                        Unfortunately, I am a ninja you will have to contact me in the following ways&hellip;
                    </p>

                    <ul>
                        <li>
                            <i class="icon-envelope"></i>
                            <div>
                                <h5>Email</h5>
                                <a href="mailto:carey.hinoki@gmail.com">carey.hinoki@gmail.com</a>
                            </div>
                        </li>
                        <li>
                            <i class="icon-mobile-phone"></i>
                            <div>
                                <h5>Text</h5>
                                562.556.4694
                            </div>
                        </li>
                        <li>
                            <i class="icon-phone"></i>
                            <div>
                                <h5>Phone</h5>
                                I do not like to talk on the phone
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="span3">
                <ul class="personal-info">
                    <li ng-repeat="info in personal_infos | limitTo:8">
                        <h4>{{info.title}}</h4>
                        <i class="icon-{{info.icon}}"></i>

                        <span ng-switch on="!!info.url">
                            <span ng-switch-when="true">
                                <a href="{{info.url}}" target="_blank">{{info.description}}</a>
                            </span>
                            <span ng-switch-default>
                                </i> {{info.description}}
                            </span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="span3">
                <ul class="personal-info">
                    <li ng-repeat="info in personal_infos | limitTo:-8">
                        <h4>{{info.title}}</h4>
                        <i class="icon-{{info.icon}}"></i>

                        <span ng-switch on="!!info.url">
                            <span ng-switch-when="true">
                                <a href="{{info.url}}" target="_blank">{{info.description}}</a>
                            </span>
                            <span ng-switch-default>
                                </i> {{info.description}}
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>