<header>
    <div class="nav-wrapper">
        <div id="logo">
            <a href="/"><img src="img/logo.png" alt="Carey Hinoki"></a>
        </div>
        <div id="vcard">
            <h1>Carey Hinoki</h1>
            <h2>Web Solutions Architect - Long Beach, CA</h2>
        </div>
        <nav navigate-to-section>
            <ul class="nav">
                <li class="work">
                    <a href="#work">Work</a>
                </li>
                <li class="about">
                    <a href="#about">About</a>
                </li>
                <li class="play">
                    <a href="#play">Play</a>
                </li>
                <li class="contact">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>