<header>
    <div class="nav-wrapper">
        <div id="logo">
            <a href="/"><img src="img/logo-v2.png" alt="Carey Hinoki"></a>
        </div>

        <div id="vcard">
            <h1>Carey Hinoki</h1>
            <h2>Web Solutions Architect - Long Beach, CA</h2>
        </div>

        <nav navigate-to-section>
            <ul class="nav">
                <li class="work first">
                    <a href="#work">Work</a>
                </li>
                <li class="about">
                    <a href="#about">About</a>
                </li>
                <li class="play">
                    <a href="#play">Play</a>
                </li>
                <li class="contact last">
                    <a href="#contact">Contact</a>
                </li>
            </ul>

            <a id="top" href="#top" navigate-to-top><i class="icon-cloud"></i> To the clouds</a>
        </nav>
    </div>
</header>