<div class="intro-wrapper">
	<div class="clouds" clouds>
		<div id="intro" class="container section">
	        <h2>
	            Defying convention
	        </h2>
	        <h3>
	    		I architect and develop rich web experiences
	        </h3>
	    </div>

	    <div id="scenery">
			<div class="intro-mountain">
				<div class="intro-background"></div>
			    <div class="intro-background-land"></div>
			    <div class="intro-foreground"></div>
			</div>
	    </div>
	</div>
</div>