/*
 * Header
 */

header
{
    background: #333;
    border-bottom: 1px solid #222;
    height: 50px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

#logo img
{
    height: 50px;
    left: 50%;
    margin-left: -28px;
    position: absolute;
}

#vcard
{
    display: none;
}

nav
{
    margin-bottom: 75px;
    margin-top: -75px;
}

.nav
{
    list-style: none;
    margin: 25px auto 0;
    padding: 0 0 0 10px;
    width: 407px;
}

.nav li
{
    float: left;
    line-height: 50px;
    padding: 0 20px;
}

.nav a
{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.nav > li > a:hover
{
    background: transparent;
    color: pink;
}

.nav .about
{
    padding-right: 108px;
}

@media (max-width: 767px) {
    header
    {
        height: auto;
        margin: 0 -20px;
        position: static;
        width: auto;
    }

    .nav-wrapper
    {
        padding: 30px 20px;
    }

    #logo img
    {
        left: 0;
        margin: 0 0 20px;
        position: static;
    }

    #vcard
    {
        display: block;
    }

    #vcard h1,
    #vcard h2
    {
        color: #fff;
        line-height: 1;
    }

    #vcard h1
    {
        font-size: 62px;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    #vcard h2
    {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 50px;
    }

    nav
    {
        margin: 0;
    }

    .nav
    {
        margin: 0;
        padding: 0;
        width: auto;
    }

    .nav li
    {
        background: #333;
        border-bottom: 1px solid #fff;
        float: none;
        padding: 0;
        width: 100%;
    }

    .nav .about
    {
        padding: 0;
    }
}