/*
 * Header
 */

header
{
    background: #111;
    border-bottom: 1px solid #000;
    height: 50px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#logo img
{
    height: 50px;
    left: 50%;
    margin-left: -28px;
    position: absolute;
}

#vcard
{
    display: none;
}

nav
{
    margin-bottom: 75px;
    margin-top: -75px;
}

.nav
{
    list-style: none;
    margin: 25px auto 0;
    padding: 0 0 0 10px;
    width: 407px;
}

.nav li
{
    float: left;
    line-height: 50px;
    padding: 0 20px;
}

.nav a
{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.nav > li > a:hover
{
    background: transparent;
    color: pink;
}

.nav .about
{
    padding-right: 108px;
}

#top
{
    display: none;
    font-size: 13px;
    float: right;
    line-height: 51px;
    margin-right: 20px;
    text-decoration: none;

    .icon-cloud
    {
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
    header
    {
        height: auto;
        margin: 0 -20px;
        position: static;
        width: auto;
    }

    .nav-wrapper
    {
        margin-bottom: -120px;
        padding: 30px 20px;
    }

    #logo img
    {
        left: 0;
        margin: 0 0 20px;
        position: static;
    }

    #vcard
    {
        display: block;
    }

    #vcard h1,
    #vcard h2
    {
        color: #fff;
        line-height: 1.2;
    }

    #vcard h1
    {
        font-size: 62px;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    #vcard h2
    {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 50px;
    }

    nav
    {
        margin: 0;
        position: relative;
    }

    .nav
    {
        .border-radius(3px);
        .box-shadow(0 5px 0 #c6412b);
        margin: 0 auto;
        padding: 0;
        width: 150px;
    }

    .nav li
    {
        float: none;
        padding: 0;

        a
        {
            background-color: #e9573f;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            border-top: 1px solid #d44a34;
            line-height: 40px;
        }

        a:hover
        {
            background-color: #e9573f;
            .box-shadow(0 -2px 0 #c6412b);
            position: relative;
            top: 2px;
        }

        &.first a
        {
            .border-radius(3px 3px 0 0);

            &:hover
            {
                .box-shadow(none);
            }
        }

        &.last a
        {
            .border-radius(0 0 3px 3px);
        }
    }

    .nav .about
    {
        padding: 0;
    }

    #top
    {
        display: none !important;
    }
}

@media (max-width: 480px) {
    #vcard h1
    {
        font-size: 32px;
    }

    #vcard h2
    {
        font-size: 16px;

    }
}