/*
 * About
 */

.about-wrapper
{
    background: url(../img/section-bg.png);
}

#bio,
#tidbits,
#skills,
#technology
{
    margin-bottom: 20px;
}

#bio h1,
#tidbits h1,
#technology h1
{
    font-size: 15px;
    line-height: 1;
    margin: 0 0 10px;
    text-transform: uppercase;
}

#bio p,
#tidbits li,
#technology li
{
    line-height: 1.5;
}

#technology .technologies
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#technology .technology
{
    float: left;
    margin-right: 5px;
}

#skills img
{
    width: 100%;
}

@media (max-width: 767px) {
    .about-wrapper
    {
        margin: 0 -20px;
    }

    #about
    {
        padding: 100px 20px;
    }
}