/*
 * Contact
 */

.contact-wrapper
{
    background: url(../img/section-bg.png);
}

.contact-info-container
{
    margin: 100px auto;
    width: 350px;
}

.contact-info-label,
.contact-info
{
    float: left;
    list-style: none;
    margin: 0;
}

.contact-info-label li,
.contact-info li
{
    line-height: 50px;
}

.contact-info-label
{
    padding: 0;
    text-align: right;
    text-transform: uppercase;
}

.contact-info
{
    border-left: 1px solid #333;
    font-size: 14px;
    margin-left: 20px;
    padding-left: 20px;
}

.contact-info .social-media
{
    list-style: none;
    margin: 0;
    padding: 0;
}


.contact-info .social-media li
{
    display: inline;
}

.contact-photo-container
{
    margin: 75px 0;
    text-align: center;
}