/*
 * Introduction
 */

.intro-wrapper
{
    background: url(../img/section-bg.png);
    height: 375px;
}

#intro
{
    padding-top: 75px;
    position: relative;
    text-align: center;
}

#intro h2
{
    display: inline-block;
    *display: inline;
    margin-top: 60px;
    text-align: left;
    text-transform: uppercase;
}

#intro h2 .defy
{
    font-size: 60px;
}

#intro h2 .by
{
    float: left;
    font-size: 120px;
    line-height: 0.8;
    text-indent: -5px;
}

#intro h2 .architect
{
    font-size: 26px;
}

#intro h2 .rich
{
    font-size: 42px;
}