/*
 * Introduction
 */

.intro-wrapper
{
    background: url(../img/section-bg.png);
}

#intro h2
{
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 767px) {
    .intro-wrapper
    {
        margin: 0 -20px;
    }

    #intro
    {
        padding: 0 20px;
    }
}