/*
 * Play
 */

.play-wrapper
{

}

#play h2,
#play h3
{
    color: #fff;
}

.plays
{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.plays > li
{
    display: inline-block;
    *display: inline;
    margin: 0 2% 2% 0;
    vertical-align: top;
    width: 32%;
    zoom: 1;
}

.lt-ie8 .plays > li
{
    margin: 0 1.9% 1.9% 0;
}

.plays > li.third
{
    margin-right: 0;
}

.play
{
    overflow: hidden;
    position: relative;
}

.play .frame
{
    background: #fff;
    padding: 5px;
}

.play .mask
{
    background: url(../img/section-bg.png);
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    top: -305px;
    width: 100%;
}

.play .caption
{
    position: relative;
}

.play .caption h3
{
    border: 0;
    color: #333;
    font-size: 24px;
    line-height: 1;
    margin: 15% 0 10px;
}

.play .caption h4
{
    color: #666;
    font-size: 16px;
    font-weight: normal;
    padding: 0 20%;
}

.play .caption .website
{
    color: #999;
    font-size: 18px;
}

.play .caption .website:hover
{
    color: #333;
    text-decoration: none;
}

@media (max-width: 1200px) and (min-width: 980px) {
    .plays.detail .play .caption h3, /* all plays */
    .play .detail h3
    {
        font-size: 18px;
    }

    .plays.detail .play .caption h4, /* all plays */
    .play .detail h4
    {
        font-size: 12px;
    }

    .plays.detail .play .caption p, /* all plays */
    .play .detail p
    {
        font-size: 11px;
    }

    .plays.detail .play .caption .website, /* all plays */
    .play .detail .website
    {
        font-size: 12px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .plays > li.third
    {
        margin-right: 2%;
    }

    .plays > li.second
    {
        margin-right: 0;
    }

    .plays > li
    {
        width: 49%;
    }

    .plays.detail .play .caption h3, /* all plays */
    .play .detail h3
    {
        font-size: 20px;
    }

    .plays.detail .play .caption h4, /* all plays */
    .play .detail h4
    {
        font-size: 14px;
    }

    .plays.detail .play .caption p, /* all plays */
    .play .detail p
    {
        font-size: 13px;
    }

    .plays.detail .play .caption .website, /* all plays */
    .play .detail .website
    {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .plays
    {
        max-width: 460px;
    }

    .plays > li
    {
        margin: 0 0 10%;
        width: 100%;
    }

    .play .mask
    {
        background: none;
        position: static;
        text-align: left;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
    }

    .play .caption h3
    {
        color: #fff;
        margin: 10px 0;
        text-align: left;
    }

    .play .caption h4
    {
        color: #fff;
        padding: 0;
        text-align: left;
    }

    .play .caption p
    {
        display: block;
    }

    .play .caption .view
    {
        display: none;
    }

    .play .caption .website
    {
        color: #fff;
        font-size: 14px;
    }

    .play .caption .website:hover
    {
        color: #fff;
        text-decoration: underline;
    }

    .play .caption .website i
    {
        display: none;
    }

    .play .caption .website span
    {
        display: block;
    }
}