/*
 * Work
 */

.work-wrapper
{
    
}

#work h2,
#work h3
{
    color: #fff;
}

.works
{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.works > li
{
    display: inline-block;
    *display: inline;
    margin: 0 2% 2% 0;
    vertical-align: top;
    width: 32%;
    zoom: 1;
}

.lt-ie8 .works > li
{
    margin: 0 1.9% 1.9% 0;
}

.works > li.third
{
    margin-right: 0;
}

.work
{
    overflow: hidden;
    position: relative;
}

.work .frame
{
    background: #fff;
    padding: 5px;
}

.work .mask
{
    background: url(../img/section-bg.png);
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    top: -305px;
    width: 100%;
}

.work .caption
{
    position: relative;
}

.work .caption h3
{
    border: 0;
    color: #333 !important;
    font-size: 24px;
    line-height: 1;
    margin: 15% 0 10px;
}

.work .caption h4
{
    color: #666;
    font-size: 16px;
    font-weight: normal;
    padding: 0 20%;
}

.work .caption p
{
    color: #ABACA5;
    display: none;
    font-size: 14px;
}

.work .caption .view,
.work .caption .website
{
    color: #999;
    font-size: 18px;
}

.work .caption .view:hover,
.work .caption .website:hover
{
    color: #333;
    text-decoration: none;
}

.work .caption .website span
{
    display: none;
}

/* all works */
.works.summary .work .mask,
.works.detail .work .mask
{
    top: 0 !important;
}

.works.detail .work .caption, /* all works */
.work .detail
{
    text-align: left;
}

.works.detail .work .caption h3, /* all works */
.work .detail h3
{
    border: 0;
    color: #333;
    font-size: 24px;
    line-height: 1;
    margin: 10px 0;
    padding: 0 10px;
    text-align: left;
}

.works.detail .work .caption h4, /* all works */
.work .detail h4
{
    color: #666;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0 10px;
}

.works.detail .work .caption p, /* all works */
.work .detail p
{
    color: #ABACA5;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 10px;
}

.works.detail .work .caption .view, /* all works */
.work .detail .view
{
    display: none;
}

.works.detail .work .caption .website, /* all works */
.work .detail .website
{
    color: #666;
    display: block;
    font-size: 14px;
    padding: 0 10px;
}

.works.detail .work .caption .website:hover, /* all works */
.work .detail .website:hover
{
    color: #333;
    text-decoration: none;
}

.works.detail .work .caption .website span, /* all works */
.work .detail .website span
{
    display: block;
}

.works.detail .work .caption .website i, /* all works */
.work .detail .website i
{
    display: none;
}

#show_next_works
{
    display: block;
    margin: 20px auto 0;
    width: 100px;
}

@media (max-width: 1200px) and (min-width: 980px) {
    .works.detail .work .caption h3, /* all works */
    .work .detail h3
    {
        font-size: 18px;
    }

    .works.detail .work .caption h4, /* all works */
    .work .detail h4
    {
        font-size: 12px;
    }

    .works.detail .work .caption p, /* all works */
    .work .detail p
    {
        font-size: 11px;
    }

    .works.detail .work .caption .website, /* all works */
    .work .detail .website
    {
        font-size: 12px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .works > li.third
    {
        margin-right: 2%;
    }

    .works > li.second
    {
        margin-right: 0;
    }

    .works > li
    {
        width: 49%;
    }

    .works.detail .work .caption h3, /* all works */
    .work .detail h3
    {
        font-size: 20px;
    }

    .works.detail .work .caption h4, /* all works */
    .work .detail h4
    {
        font-size: 14px;
    }

    .works.detail .work .caption p, /* all works */
    .work .detail p
    {
        font-size: 13px;
    }

    .works.detail .work .caption .website, /* all works */
    .work .detail .website
    {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .works
    {
        max-width: 460px;
    }

    .works > li
    {
        margin: 0 0 10%;
        width: 100%;
    }

    .work .mask
    {
        background: none;
        position: static;
        text-align: left;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
    }

    .work .caption h3
    {
        color: #fff;
        margin: 10px 0;
        text-align: left;
    }

    .work .caption h4
    {
        color: #fff;
        padding: 0;
        text-align: left;
    }

    .work .caption p
    {
        display: block;
    }

    .work .caption .view
    {
        display: none;
    }

    .work .caption .website
    {
        color: #fff;
        font-size: 14px;
    }

    .work .caption .website:hover
    {
        color: #fff;
        text-decoration: underline;
    }

    .work .caption .website i
    {
        display: none;
    }

    .work .caption .website span
    {
        display: block;
    }
}